<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gpswakeup.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name="org.gpswakeup.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="org.gpswakeup.activity.EditAlarmActivity"
            android:label="@string/title_activity_edit_alarm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gpswakeup.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.gpswakeup.activity.WakeupListActivity"
            android:label="@string/title_activity_wakeup_list"
            android:parentActivityName="org.gpswakeup.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.gpswakeup.activity.MainActivity" />
        </activity>
        <receiver android:name="org.gpswakeup.services.BootBroadcastReveiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="org.gpswakeup.services.GPSWakeupService" >
        </service>
        <activity
            android:name="org.gpswakeup.activity.AlertActivity"
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true">
        </activity>
    </application>

</manifest>